<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="JAXON" >
  <xacro:include filename="$(find hrpsys_gazebo_tutorials)/robot_models/JAXON/JAXON.urdf" />
  <!-- HAND -->
  <xacro:include filename="$(find jaxon_description)/urdf/thk_hand003.urdf.xacro" />
  <xacro:thk_hand prefix="L_" parent="LARM_LINK7" type="revolute">
    <origin xyz="0 0 -0.085" rpy="-1.5707963268 1.5707963268 0" />
  </xacro:thk_hand>
  <xacro:thk_hand prefix="R_" parent="RARM_LINK7" type="revolute">
    <origin xyz="0 0 -0.085" rpy="1.5707963268 1.5707963268 0" />
  </xacro:thk_hand>
  <!-- add IOB plugin -->
  <gazebo>
    <plugin filename="libIOBPlugin.so" name="hrpsys_gazebo_plugin" >
      <robotname>JAXON</robotname>
      <controller>hrpsys_gazebo_configuration</controller>
    </plugin>
  </gazebo>
  <!-- add imu sensor -->
  <gazebo reference="BODY" >
    <sensor name="waist_imu" type="imu">
      <always_on>1</always_on>
      <update_rate>1000.0</update_rate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </sensor>
  </gazebo>
</robot>
