# Travis Continuous Integration Configuration File, based on ..
#   Generic MoveIt Travis Continuous Integration Configuration File
#   Works with all MoveIt! repositories/branches
#   Author: Dave Coleman, Jonathan Bohren
language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
env:
  global:
    - ROSWS=wstool
    - BUILDER=catkin
    - CATKIN_PARALLEL_JOBS='-p2'
    - CATKIN_PARALLEL_TEST_JOBS='-p1'
    - ROS_PARALLEL_JOBS="-j2"
    - ROS_PARALLEL_TEST_JOBS='-j1'
    - USE_JENKINS=true
  matrix:
    - ROS_DISTRO=indigo  USE_DEB=true
    - ROS_DISTRO=indigo  USE_DEB=false NOT_TEST_INSTALL=true
    - ROS_DISTRO=indigo  USE_DEB=true  NOT_TEST_INSTALL=true INSTALL_SRC_SECURE="git@github.com:start-jsk/rtmros_hrp2" TEST_PKGS_SECURE="jsk_hrp2_ros_bridge"
matrix:
  # allow_failures:
  #   - env: ROS_DISTRO=indigo  USE_DEB=false NOT_TEST_INSTALL=true
notifications:
  email:
    recipients:
      - k-okada@jsk.t.u-tokyo.ac.jp
      - youhei@jsk.t.u-tokyo.ac.jp
      - ueda@jsk.t.u-tokyo.ac.jp
      - noazawa@jsk.t.u-tokyo.ac.jp
      - iiysaito@opensource-robotics.tokyo.jp
    on_success: always #[always|never|change] # default: change
    on_failure: always #[always|never|change] # default: always
before_script:
  - if [ "${TRAVIS_SECURE_ENV_VARS}" == "true" ]; then openssl aes-256-cbc -K $encrypted_0083437bf214_key -iv $encrypted_0083437bf214_iv -in .secrets.tar.enc -out .secrets.tar -d; tar -C ~/ -xvf .secrets.tar; export INSTALL_SRC="$INSTALL_SRC $INSTALL_SRC_SECURE"; export TEST_PKGS="$TEST_PKGS $TEST_PKGS_SECURE"; fi
  - export REPOSITORY_NAME=`basename $PWD`
  - if [ "${INSTALL_SRC}" != "" ]; then export BEFORE_SCRIPT="sudo apt-get install python-yaml; $(for src in $INSTALL_SRC; do name=`basename $src`; echo "python -c \"import yaml;print yaml.dump([{\\\"git\\\":{\\\"uri\\\":\\\"$src\\\",\\\"local-name\\\":\\\"$name\\\"}}], default_flow_style=False)\" >> .rosinstall;"; done) ls -al; cat .rosinstall; wstool update"; fi
script: source .travis/travis.sh
