# Travis Continuous Integration Configuration File, based on ..
#   Generic MoveIt Travis Continuous Integration Configuration File
#   Works with all MoveIt! repositories/branches
#   Author: Dave Coleman, Jonathan Bohren
dist: trusty
language:
  - cpp
  - python
python:
  - "2.7"
compiler:
  - gcc
cache:
  - ccache
env:
  global:
    - ROSWS=wstool
    - BUILDER=catkin
    - USE_DOCKER=true
    - USE_TRAVIS=true
    - CATKIN_PARALLEL_JOBS='-p2'
    - CATKIN_PARALLEL_TEST_JOBS='-p1'
    - ROS_PARALLEL_JOBS="-j2"
    - ROS_PARALLEL_TEST_JOBS='-j1'
  matrix:
    - ROS_DISTRO=indigo  USE_DEB=true
    - ROS_DISTRO=indigo  USE_DEB=false NOT_TEST_INSTALL=true
    - ROS_DISTRO=kinetic USE_DEB=false NOT_TEST_INSTALL=true
    - ROS_DISTRO=melodic USE_DEB=false NOT_TEST_INSTALL=true ROSDEP_ADDITIONAL_OPTIONS="-n -q -r --ignore-src --skip-keys leap_motion" #BEFORE_SCRIPT: to build hrpsys on melodic. ROSDEP_ADDITIONAL_OPTIONS: leap_motion (run_depend of hironx_tutorial) is not released on melodic.
matrix:
  # allow_failures:
  #   - env: ROS_DISTRO=indigo  USE_DEB=false NOT_TEST_INSTALL=true
notifications:
  email:
    recipients:
      - k-okada@jsk.t.u-tokyo.ac.jp
      - youhei@jsk.t.u-tokyo.ac.jp
      - ueda@jsk.t.u-tokyo.ac.jp
      - noazawa@jsk.t.u-tokyo.ac.jp
      - iiysaito@opensource-robotics.tokyo.jp
    on_success: always #[always|never|change] # default: change
    on_failure: always #[always|never|change] # default: always
script: source .travis/travis.sh
