<launch>

  <arg name="launch_sound_play" default="true" />
  <arg name="publish_real_hand_joint_state" default="false" />
  <arg name="real_hand_joint_state_rate" default="5" />

  <!-- Start Camera -->
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="camera" value="head_camera" />
    <arg name="depth_registration" value="true" />
    <arg name="publish_tf" value="false" />
  </include>
  <!-- Set image_transport_plugins parameters (png_level and disable_pub_plugins) -->
  <rosparam file="$(find hironx_tutorial)/config/hironxjsk_image_transport_plugins_params.yaml"
            command="load"/>

  <!-- Start Robot -->
  <include file="$(find hironx_ros_bridge)/launch/hironx_ros_bridge_real.launch">
    <arg name="COLLADA_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/HIRONXJSK_SENSORS.urdf" />
    <arg name="nameserver" value="hiro014" />
    <arg name="USE_IMPEDANCECONTROLLER" value="true" />
    <arg name="USE_COLLISIONCHECK" value="true" />
    <arg name="USE_HAND_JOINT_STATE_PUBLISHER" value="true" unless="$(arg publish_real_hand_joint_state)" />
    <arg name="USE_HAND_JOINT_STATE_PUBLISHER" value="false" if="$(arg publish_real_hand_joint_state)" />
  </include>
  <group if="$(arg publish_real_hand_joint_state)">
    <node name="hand_joint_state_publisher_real"
          pkg="hironx_tutorial" type="hand-joint-state-publisher-real.l">
      <rosparam subst_value="True">
        publish_rate: $(arg real_hand_joint_state_rate)
      </rosparam>
    </node>
  </group>

  <!-- Publish odom tf -->
  <node name="odom_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0.8 0 0 0 odom WAIST 20" />

  <!-- Start Sound -->
  <group if="$(arg launch_sound_play)">

    <!-- English speach node -->
    <node name="sound_play" pkg="sound_play" type="soundplay_node.py" respawn="true">
      <remap from="sound_play" to="robotsound" />
    </node>

    <!-- Japanese speech node -->
    <include file="$(find voice_text)/launch/voice_text.launch">
      <arg name="sound_play_respawn" value="true" />
    </include>

  </group>

  <!-- Speech Recognition -->
  <node name="respeaker_transformer" pkg="tf" type="static_transform_publisher"
        args="0 0 0.2 0 0 0 HEAD_JOINT1_Link respeaker_base 100"/>
  <include file="$(find respeaker_ros)/launch/sample_respeaker.launch">
    <arg name="publish_tf" default="false"/>
    <arg name="launch_soundplay" default="false"/>
    <arg name="audio" value="speech_audio"/>
    <arg name="language" value="ja-JP"/>
  </include>
  <!-- Set speak action server names -->
  <!-- This parameter is for speech_to_text node in respeaker_ros -->
  <!-- https://github.com/jsk-ros-pkg/jsk_3rdparty/pull/168 -->
  <group ns="speech_to_text">
    <rosparam>
       tts_action_names:
         - robotsound
         - robotsound_jp
    </rosparam>
  </group>

</launch>
