<launch>

  <!-- Based on hironx_ros_bridge/launch/hironx_ros_bridge_simulation.launch -->

  <arg name="GUI" default="true" />
  <arg name="corbaport" default="15005" />
  <arg name="PROJECT_FILE" default="$(find hironx_tutorial)/config/HIRONXJSK_nosim.xml" />
  <arg name="MODEL_FILE" default="$(find hrp2_models)/HIRONXJSK/HIRONXJSKmain.wrl" />
  <arg name="COLLADA_FILE" default="$(find hrpsys_ros_bridge_tutorials)/models/HIRONXJSK_SENSORS.urdf" />
  <arg name="CONF_FILE" default="$(find hrpsys_ros_bridge_tutorials)/models/HIRONXJSK.conf" />
  <arg name="CONF_FILE_COLLISIONDETECT" default="$(find hrpsys_ros_bridge_tutorials)/models/HIRONXJSK.conf" />
  <arg name="DEBUG_HRPSYS" default="false" />
  <arg name="USE_COLLISIONCHECK" default="true" />

  <!-- Set model file to parameter server  -->
  <param name="hironx/collada_model_filepath" value="$(arg MODEL_FILE)" />

  <include file="$(find hironx_ros_bridge)/launch/hironx_startup.launch" >
    <arg name="GUI" default="$(arg GUI)" />
    <arg name="PROJECT_FILE" value="$(arg PROJECT_FILE)" />
    <arg name="MODEL_FILE" value="$(arg MODEL_FILE)" />
    <arg name="corbaport" default="$(arg corbaport)" />
    <arg name="CONF_FILE" value="$(arg CONF_FILE)" />
    <arg name="DEBUG_HRPSYS" value="$(arg DEBUG_HRPSYS)" />
  </include>
  <include file="$(find hironx_ros_bridge)/launch/hironx_ros_bridge.launch" >
    <arg name="nameserver" value="localhost" />
    <arg name="MODEL_FILE" value="$(arg MODEL_FILE)" />
    <arg name="COLLADA_FILE" value="$(arg COLLADA_FILE)" />
    <arg name="SIMULATOR_NAME" value="HiroNX(Robot)0" />
    <arg name="corbaport" default="$(arg corbaport)" />
    <arg name="CONF_FILE_COLLISIONDETECT" value="$(arg CONF_FILE_COLLISIONDETECT)" />
    <arg name="open_rqt_gui" default="false" />
    <arg name="USE_COLLISIONCHECK" value="$(arg USE_COLLISIONCHECK)"/>
  </include>

  <!-- Publish odom tf -->
  <node name="odom_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0.8 0 0 0 odom WAIST 20" />

</launch>
