<launch>
  <arg name="MODEL_TRANSLATE_X" default="-1.0" />

  <include file="$(find hrpsys_gazebo_tutorials)/launch/gazebo_samplerobot_no_controllers.launch">
    <arg name="WORLD" value="$(find hrpsys_gazebo_tutorials)/worlds/DRCTestbed.world" />
    <arg name="MODEL_TRANSLATE_X" value="$(arg MODEL_TRANSLATE_X)" />
  </include>
</launch>
