<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="HRP2JSKNTS" >
  <xacro:include filename="HRP2JSKNTS_body.urdf" />
  <xacro:include filename="HRP3HAND_L.urdf" />
  <xacro:include filename="HRP3HAND_R.urdf" />
  <!-- <joint name="hrp2_to_multisense" type="fixed"> -->
  <!--   <parent link="HEAD_LINK1" /> -->
  <!--   <child  link="camera_rgb_optical_frame" /> -->
  <!--   <origin xyz="0.053 0.052 0.119" rpy="0.006 0.308 -0.021" /> -->
  <!-- </joint> -->
  <!-- <link name="camera_rgb_optical_frame" /> -->
</robot>
