<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="JAXON" >
  <xacro:include filename="JAXON_body.urdf" />

  <link name="HEAD_LINK1">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://hrpsys_ros_bridge_tutorials/models/JAXON_meshes/HEAD_LINK1_without_camera.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://hrpsys_ros_bridge_tutorials/models/JAXON_meshes/HEAD_LINK1_without_camera.dae" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial> <!-- mass propaties should be corrected -->
      <mass value="4.873" />
      <origin xyz="0.01617 0.00844 0.1502" rpy="0 -0 0"/>
      <inertia ixx="0.15" ixy="1.76326e-18" ixz="0.01" iyy="0.16" iyz="-1.33463e-17" izz="0.04"/>
    </inertial>
  </link>
  <gazebo reference="HEAD_LINK1">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>

  <link name="multisense/head_root" />
  <joint name="head_tip_to_multisense" type="fixed">
    <parent link="HEAD_LINK1" />
    <!--child  link="head" /--> <!-- for drcsim / multisense_sl_description -->
    <child  link="multisense/head_root" /> <!-- for multisense / multisense_description -->
    <origin xyz="0.1005 0 0.05625" rpy="0 0 0"/>
  </joint>

  <!-- -->
  <link name="LARM_LINK7">
    <visual>
      <origin xyz="0 0.0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://hrpsys_ros_bridge_tutorials/models/JAXON_meshes/l_hand_attached_link.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://hrpsys_ros_bridge_tutorials/models/JAXON_meshes/l_hand_attached_link.dae" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial> <!-- mass propaties should be corrected -->
      <mass value="4.219" />
      <origin xyz="-0.02359 0.12884 -0.02825" rpy="0 -0 0"/>
      <inertia ixx="0.0527968" ixy="0" ixz="0" iyy="0.057042" iyz="0" izz="0.0492541"/>
    </inertial>
  </link>
  <gazebo reference="LARM_LINK7">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>

  <!-- -->
  <link name="RARM_LINK7">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://hrpsys_ros_bridge_tutorials/models/JAXON_meshes/r_hand_attached_link.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://hrpsys_ros_bridge_tutorials/models/JAXON_meshes/r_hand_attached_link.dae" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial> <!-- mass propaties should be corrected -->
      <mass value="4.219" />
      <origin xyz="0.02359 -0.12884 -0.02825" rpy="0 -0 0"/>
      <inertia ixx="0.0527968" ixy="0" ixz="0" iyy="0.057042" iyz="0" izz="0.0492541"/>
    </inertial>
  </link>
  <gazebo reference="RARM_LINK7">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
  </gazebo>

  <!-- HAND -->
  <xacro:include filename="$(find jaxon_description)/urdf/thk_hand.urdf.xacro" />
  <xacro:thk_hand prefix="L_" parent="LARM_LINK7" type="revolute">
    <origin xyz="0 0 -0.095" rpy="-1.5707963268 1.5707963268 0" />
  </xacro:thk_hand>
  <xacro:thk_hand prefix="R_" parent="RARM_LINK7" type="revolute">
    <origin xyz="0 0 -0.095" rpy="1.5707963268 1.5707963268 0" />
  </xacro:thk_hand>
  <!-- for calibration / original offset of camera_frame
  <link name="multisense/left_camera_optical_frame" />
  <joint name="multisense/left_camera_optical_frame_joint" type="fixed">
    <parent link="HEAD_LINK1" />
    <child  link="multisense/left_camera_optical_frame" />
    <origin xyz="0.07595 0.035 0.19625" rpy="-1.5707960129 0 -1.5707960129"/>
  </joint>
  -->
</robot>
