<launch>
  <arg name="KILL_SERVERS" default="false" />
  <arg name="corbaport" default="15005" />
  <arg name="GUI" default="true" />
  <include file="$(find hrpsys_tools)/launch/hrpsys.launch">
    <arg name="PROJECT_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/pa10.xml" />
    <arg name="MODEL_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/pa10.dae" />
    <arg name="CONF_FILE" value="$(find hrpsys_ros_bridge_tutorials)/models/pa10.conf" />
    <arg name="SIMULATOR_NAME" value="HRP1(Robot)0" />
    <arg name="KILL_SERVERS" default="$(arg KILL_SERVERS)" />
    <arg name="GUI" default="$(arg GUI)" />
    <arg name="corbaport" default="$(arg corbaport)" />
  </include>
</launch>
